---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
    <script>
        setTimeout(() => {
            window.location.href = "/";
        }, 3000);
    </script>
    <p>Not found: redirecting you in 3s</p>
</Layout>
