---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getAllPosts, sortMDByDate } from "../utils/posts";

export const getStaticPaths = (async ({ paginate }) => {
    const allPosts = await getAllPosts();
    const allPostsByDate = sortMDByDate(allPosts);
    return paginate(allPostsByDate, { pageSize: Infinity });
}) satisfies GetStaticPaths;

interface Props {
    page: Page<CollectionEntry<"post">>;
    uniqueTags: string[];
}

const { page } = Astro.props;

const repo = "https://github.com/Its-Just-Nans/thoughts";
---

<Layout title="thoughts">
    <div class="inner-body">
        <div class="title-div">
            <h1>thought<a class="link-repo" href={repo} target="_blank">s</a></h1>
            <div>
                <a href="/map" target="_blank">
                    <img src="/images/map.png" alt="map" />
                </a>
            </div>
        </div>
        {
            page.data.length > 0 && (
                <div>
                    <section>
                        <ul>
                            {page.data.map(async (p) => {
                                // const article = await p.render();
                                const slug = p.data.customSlug || p.slug;
                                return (
                                    <a href={slug} class="article">
                                        <div>
                                            <span class="date">{p.data.publishDate.toISOString().slice(0, 10)}</span>
                                            <span>-</span>
                                            <span>{p.data.title}</span>
                                        </div>
                                    </a>
                                );
                            })}
                        </ul>
                    </section>
                </div>
            )
        }
    </div>
</Layout>

<style>
    .link-repo {
        color: inherit;
        text-decoration: inherit;
    }
    .title-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .date {
        /* monospaced font */
        font-family: "Courier New", Courier, monospace;
        font-size: 0.8em;
    }
    .inner-body {
        padding: 0 20px;
        margin: auto;
        max-width: 800px;
    }
    .article {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
    }
    @media screen and (max-width: 800px) {
        ul {
            padding-inline-start: 15px;
        }
    }
</style>
