---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

import Layout from "../layouts/Layout.astro";
import { getAllPosts } from "../utils/posts";
import "../styles/markdown.css";
import Emoji from "../components/Emoji.astro";

export const getStaticPaths = (async () => {
    const articles = await getAllPosts();
    return articles.map((entry) => ({
        params: { slug: entry.data.customSlug || entry.slug },
        props: { entry, data: entry.data },
    }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry, data } = Astro.props;
const { Content } = await entry.render();
const title = data.title;
const date = new Date(data.publishDate);
---

<Layout title={data.title} description={`thoughts about ${title.toLowerCase()}`} `>
    <div class="article-body">
        <h1>{title}</h1>
        <div class="under-title">
            <a class="back-link" href="../"> 🔙 </a>
            <span>
                <Emoji data={data} />
                <span>{date.toISOString().split("T")[0]}</span>
                {
                    data.updatedDate && (
                        <span title={`This post was updated the ${data.updatedDate.toISOString().split("T")[0]}`}>
                            🔄
                        </span>
                    )
                }
            </span>
        </div>
        <hr />
        <div class="markdown-body">
            <Content />
        </div>
    </div>
</Layout>

<style>
    .under-title {
        display: flex;
        justify-content: space-between;
    }
    .back-link {
        color: inherit;
        text-decoration: none;
    }
    .article-body {
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }
</style>
