---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'

import Layout from '../layouts/Layout.astro'
import { getAllPosts } from '../utils/posts'

export const getStaticPaths = (async () => {
	const articles = await getAllPosts()
	return articles.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entry } = Astro.props
const { Content, remarkPluginFrontmatter } = await entry.render();
const title = remarkPluginFrontmatter.title;
const date = new Date(remarkPluginFrontmatter.publishDate)
---

<Layout title={remarkPluginFrontmatter.title} description={`thoughts about ${title.toLowerCase()}`}`>
	<div class="article-body">
		<h1>{title}</h1>
		<span>{date.toISOString().split("T")[0]}</span>
		<hr/>
		<Content />
	</div>
</Layout>

<style>
	.article-body{
		margin: 0 auto;
		max-width: 800px;
		padding: 20px;
	}
</style>