---
import TagDisplay from "./TagDisplay.astro";

interface Props {
    tags: string[];
}

const { tags } = Astro.props;
---

{
    tags.length > 0 && (
        <div class="all-tags">
            <p class="subtitle">tags</p>
            <div class="all-tags-list">
                {tags.map((tag) => (
                    <TagDisplay tag={tag} />
                ))}
            </div>
        </div>
    )
}

<style>
    .all-tags {
        text-align: center;
        margin-bottom: 20px;
    }
    .all-tags-list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
</style>
