---

---

<div class="centered">
    <div>
        <slot />
    </div>
</div>

<style>
    .centered {
        text-align: center;
        display: flex;
        justify-content: center;
    }
</style>
