---

---

<div class="wrap-links">
    <a href="https://map.n4n5.dev/" target="_blank" title="map" aria-label="a link to a map" class="link-map">
        <img src="/images/map.png" class="map-img" alt="map" />
    </a>
    <a href="https://links.n4n5.dev/" title="links" aria-label="a link to more links" class="link-link">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-link"
        >
            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
        </svg>
    </a>
</div>

<style>
    .wrap-links {
        display: flex;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .map-img {
        --width: 32px;
        --hover-width: 42px;
        width: var(--width);
        height: var(--width);
        margin: calc((var(--hover-width) - var(--width)) / 2);
    }
    .map-img:hover {
        width: var(--hover-width);
        height: var(--hover-width);
        margin: 0px;
    }
    .link-map {
        -webkit-tap-highlight-color: transparent;
    }
    .link-link {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .link-link svg {
        visibility: hidden;
        height: 16px;
        width: 16px;
    }
    .link-link:hover svg {
        visibility: visible;
    }
</style>
